* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  color: #023047;
}

body {
  min-height: 100vh;
  // background: #9BF6FF;
  // background: linear-gradient(to bottom right, #9BF6FF, #C31FF8);
}

.App {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  background: #8ecae6;
  // background: rgba(#3f37c9, 0.3);
}