* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  height: 100vh;
  background: linear-gradient(to bottom right, #9BF6FF, #F61EC8);;
}

.App {
  width: 1200px;
  height: 100vh;
  margin: 0 auto;
  background: rgba(#3f37c9, 0.3);
}